@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$height: 40px;
$bgcolor: azure;
$bgdrop: rgba(104, 104, 104, 0.5);
$bgdrop2: rgba(0, 0, 0, 0);
$hover1: #e7f6ff;
$hover2: bisque;
$hover3: #eee;
$border: 1px solid #ccc;
$pad: 0.65rem;

body {
  font-family: 'Roboto', sans-serif;
}

.root {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.cont {
  width: 400px;
}

.select {
  width: 100%;
  position: relative;
  z-index: 100;
  transition: background-color .15s ease-in;
  &:hover {
    background-color: $hover1;
  }
  &.open {
    .select__dropdown {
      height: 200px;
      border: $border;
      transition: height 0.35s ease-in;
    }

    .select__input {
      border-bottom: none;
      background-color: $bgcolor;
    }

    .select__backdrop {
      visibility: visible;
      opacity: 1;
      background-color: $bgdrop;
    }
  }

  &__input {
    border: $border;
    border-radius: 5px;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    cursor: pointer;
  }

  &__dropdown {
    height: 0;
    position: absolute;
    border: none;
    border-radius: 5px;
    top: $height;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
    transition: height 0.35s ease-in;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__backdrop {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $bgdrop2;
    transition: visibility ease 0s, opacity ease 1s;
  }

  &__item {
    padding: $pad;
    border-bottom: $border;
    background-color: $bgcolor;
    transition: background-color .15s ease-in;
    &.selected {
      background-color: $hover2;
    }
    &:hover {
      background-color: $hover3;
      cursor: pointer;
    }
  }
}